<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="bootstrap.css"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
          integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="fontawesome.css"/>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
          integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <title>Philips FC8822 clean!</title>

</head>
<body>
<form method="post">

    <div class="remote text-center offset-2 col-md-8">
        <div class="row">
            <div class="offset-4 col-4">
                <button class="btn btn-default" type="submit" name="button" value="KEY_UP"><i class="fa fa-angle-up"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                <button class="btn btn-default" type="submit" name="button" value="KEY_LEFT"><i class="fa fa-angle-left"></i></button>
            </div>
            <div class="col-4">
                <button class="btn btn-default" type="submit" name="button" value="KEY_POWER"><i class="fa fa-power-off"></i></button>
            </div>
            <div class="col-4 text-left">
                <button class="btn btn-default" type="submit" name="button" value="KEY_RIGHT"><i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-4">
                <button class="btn btn-default" type="submit" name="button" value="KEY_DOWN"><i class="fa fa-angle-down"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-4 text-uppercase">philips</div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_1"><i class="fa fa-plus-circle"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_2"><i class="fa fa-circle"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_3"><i class="fa fa-dot-circle"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_4"><i class="fa fa-adjust"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_F1"><i class="fa fa-level-up-alt"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_F2"><i class="fa fa-redo"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_F3"><i class="fa fa-retweet"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_F4"><i class="fa fa-waze"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_HOME"><i class="fa fa-home"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_KP1"><i class="fa fa-stop"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_KP2"><i class="fa fa-play"></i></button>
            </div>
            <div class="col-3">
                <button class="btn btn-default" type="submit" name="button" value="KEY_KP3"><i class="fa fa-fast-forward"></i></button>
            </div>
        </div>
    </div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


